[submodule "hugo/themes/hugo-theme-stack"]
	path = hugo/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "hugo/themes/skeria"]
	path = hugo/themes/skeria
	url = https://github.com/dschrempf/skeria.git
